#mapa {
  height: 1000px; 
  width: 86%;
  
}

.mapaa{
  align-items: center;
}

.logodosite{
  width: 200px;
  height: 80px;
  margin-top: 20px;
  margin-left: 20px;
  margin-bottom: 20px;
  filter: drop-shadow(5px 5px 7px rgba(0, 0, 0, 0.5));
}

body{
  background-color: rgb(231, 215, 208);
}